<h1 style="color: gray;">multy upload</h1>
<form enctype="multipart/form-data" action="/handleUpload" method="POST">
    <input type="file" required accept="*/*" name="fileToUpload" multiple>
    <input type="submit" value="Upload">
</form>